* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,
body {
    width: 100%;
    height: 100%;
}

.elemhover{
    transition: 1s;
    transform: translateX(10);
    opacity: 0.8;
}

.spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bounding {
    width: fit-content;
    /* background-color: rgba(255, 75, 75, 0.7); */
    overflow: hidden;
}

.boundingelem {
    transform: translateY(100%);
}

#cursor {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
    background-color: #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    z-index: 99999;
}

#main {
    width: 100%;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
}

#nav {
    width: 100%;
    padding: 20px 40px;
}

#nav a {
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}

#landing {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    font-size: 10vw;
    line-height: 0.9;
    opacity: 0.6;
    margin-left: 40px;
    padding-left: 0;
}

#heading #secondh1 {
    margin-left: 14vw;
}

#lowerHeading {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#smallHeadings {
    text-transform: uppercase;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 40px;
}

#smallHeadings h5 {
    font-size: 1vw;
    margin-top: 0.5vw;
}

#landingFooter {
    /* justify-content: center; */
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0 40px;
}

#landingFooter a {
    color: #fff;
    text-decoration: none;

}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
}

#iconset {
    gap: 5px;
}

#second {
    background-color: black;
    padding-top: 200px;
    width: 100%;
    height: 150vh;
    padding-right: 10vw;
    padding-left: 2.5vw;
    color: #a3a3a3;
}

.elem {
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 0vw;
    font-size: 3.5vw;
    letter-spacing: 3px;
}

.elem>h6 {
    font-size: 1vw;
    color: white;
}

#second :nth-child(3) {
    border-bottom: 1px solid #888;
}

.elem>img {
    display: none;
    z-index: 999;
    position: absolute;
    height: 140%;
}

#about {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10vw 6vw;
    gap: 50px;
    padding-left: 50vw;
}

#about>img {
    width: 200px;
}

#textabout {
    width: 30rem;
}

#textabout>h5 {
    color: #a3a3a3;
    margin-bottom: 5px;
}

#textabout>p {
    text-transform: none;
    margin-bottom: 15px;
    line-height: 1.4;
}

#textabout>a {
    text-transform: none;
    font-size: 12px;
    border: 1px solid white;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#subscribe {
    background-color: black;
    color: white;
    padding: 20px 40px;
    padding-bottom: 7vw;
}

#subscribe>h5:nth-child(1) {
    color: #a3a3a3;
    margin-bottom: 5px;
}

#footer {
    padding: 20px 40px;
    background-color: black;
    font-size: small;
}

#footerleft {
    display: flex;
    align-items: center;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footerright>a {
    color: white;
    text-decoration: none;
}